* {
  margin: 0px;
}
section {
  margin: 3%;
  /* border: 2px solid red; */
}

.carousel-img{
  height: 300px;
  object-fit:cover;
  object-position:center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btnContainer{
  display: flex;
  justify-content:center;
  align-items: center;
}

.left{
  margin-right: 10px;
}
  
.container{
  margin-top: 20px;
  /* border: 2px solid red; */
  
}

.row{
  display: flex;
}

.card{
  max-width: 100%;
  /* border: 2px solid black; */
}

.row{
  /* border: 2px solid blue; */
 
}

.cardSection{
  
}

.card{
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
}

.def-card{
  max-height: 20px;
}

.cuisineLabel{
  text-transform: uppercase;
}

.left{
  background: green;
}

.errorHand{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

